body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 

/* 顶部 */
.x_card_head {
    width: 100%;
    font-family: Tahoma,Arial,"宋体";
}
.x_top_info {
    width: 1000px;
    height: 25px;
    margin: 0 auto;
}
.x_top_top:after {
    content: "";
    display: block;
    clear: both;
}
.x_top_info_1 {
    float: right;
    height: 25px;
    padding-right: 10px;
}
.x_top_info_1:after {
    content:"";
    display: block;
    clear: both;
}
.x_top_item {
    float: left;
    position: relative;
}
.x_top_item>a {
    display: inline-block;
    padding: 0 3px;
    height: 22px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}
.x_top_item .x_login {
    padding-right: 0;
}
.x_top_item .x_red {
    padding-left: 0;
    color: #b01330;
}
.x_top_info_1 a:hover {
    color: #000;
}
.x_top_info_1 span {
    float: left;
    width: 20px;
    height: 30px;
    background: url(../images/credit-card-line.jpg) no-repeat center center; 
}
.x_top_icon {
    display: inline-block;
    width: 9px;
    height: 6px;
    margin-left: 5px;
    background: url(../images/credit-card-jt.jpg) no-repeat 0 0;
}
.x_top_code, .x_top_server {
    display:none;
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 99;
    width: 220px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 5px #ddd;
}
.x_top_img {
    display: none;
    width: 220px;
    height: 186px;
}
.x_top_img img {
    width: 126px;
    height: 126px;
    margin: 30px;
}
.x_top_img_show {
    display: block;
}
.x_top_dropdown ul:after {
    content:"";
    display: block;
    clear: both;
}
.x_top_dropdown li {
    float: left;
    width: 110px;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
    background: #fafafa
}
.x_top_dropdown .x_tab_show {
    color: #fff;
    background: #332e2e;
}

.x_top_server {
    height: 179px;
}
.x_help_txt {
    padding-bottom: 15px;
}
.x_help_txt a {
    float: left;
    width: 50%;
    height: 22px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    padding: 5px 0;
}

.x_help_txt, .x_tel_txt {
    width: 185px;
    margin: 15px auto;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.x_tel_txt {
    border: none;
}
.x_tel_txt p {
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    padding-top: 3px;
}
/* logo和搜索 */
.x_top_logo {
    width: 1000px;
    height: 96px;
    margin: auto;
}
.x_top_logo:after {
    content: "";
    display: block;
    clear: both;
}
.x_wb_logo {
    float: left;
    margin: 23px 0 0 60px;
}
.x_wb_logo a {
    display: block;
    width: 280px;
    height: 49px;
    background: url(../images/credit-card-logo.jpg) no-repeat;
}
.x_wb_search {
    float: right;
    width: 307px;
    margin: 23px 6px 0 0;
}
.x_inp {
    float: left;
    width: 244px;
    height: 32px;
    font-size: 14px;
    color: #ababab;
    padding-left: 12px;
    border: 1px solid #ccc;
    line-height: 32px;
}
.x_btn {
    float: right;
    width: 49px;
    height: 34px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../images/credit-card-btn.jpg) no-repeat 0 0;
}
/* 顶部银行列表 */
.x_top_bank {
    width: 1000px;
    height: 37px;
    margin: auto;
}
.x_top_bank:after {
    content: "";
    display: block;
    clear: both;
}
.x_bank_list {
    float: left;
}
.x_bank_list i {
    display: inline-block;
    background: url(../images/credit-card-bankicon.jpg) no-repeat 0 0;
    width: 14px;
    height: 8px;
    margin-right: 15px;
}
.x_bank_list span {
    display: block;
    width: 210px;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: #aa1313;
    text-align: center;
    color: #e7cbcb;
}
.x_top_nav {
    float: left;
    height: 37px;
    margin-left: 25px;
}
.x_top_nav ul:after {
    content: "";
    display: block;
    clear: both;
}
.x_top_nav li {
    float: left;
}
.x_top_nav a {
    display: block;
    height: 35px;
    padding: 0px 18px;
    color: #333;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: -1px;
    font-weight: 700;
    text-decoration: none;
}
/* 申请信用卡快速通道 */
.x_bank {
    position: relative;
    font-family: Tahoma,Arial,"宋体";
    width: 1100px;
    height: 138px;
    margin: auto;
}
.x_bank_aisle {
    width: 1000px;
    margin: auto;
}
.x_bank_aisle h3 {
    height: 43px;
    line-height: 43px;
    margin-top: 35px;
    border-bottom: 2px solid #f4f4f4;
    font-size: 20px;
    color: #888;
}
.x_bank_silder {
    margin-top: 18px;
}
.x_bank_item {
    overflow: hidden;
}
/* .x_bank_item ul {
    width: 400%;
    transition-duration: .3s;
} */
.x_bank_item ul:after {
    content: "";
    display: block;
    clear: both;
}
.x_bank_item li {
    float: left;
    width: 1000px;
    position: relative;
}
.x_bank_item li:after {
    content: "";
    display: block;
    clear: both;
}
.x_bank_item a {
    float: left;
    margin: 0 20px;
    text-decoration: none;
}
.x_bank_lr a {
    width: 14px;
    height: 27px;
    margin: 0 20px;
    position: absolute;
    top: 65px;
}
.x_bank_previous {
    display: block;
    width: 14px;
    height: 27px;
    background: url(../images/credit-card-previous.jpg) no-repeat 0 0;
    left: 0;
}
.x_bank_next {
    display: block;
    width: 14px;
    height: 27px;
    background: url(../images/credit-card-next.jpg) no-repeat 0 0;
    right: 0;
}
.x_show {
    left: 0;
}
/*  */
.x_main {
    width: 1000px;
    margin: 0 auto;
}
.x_bank_content {
    margin-top: 40px;
}
.x_bank_content:after {
    content: "";
    display: block;
    clear: both;
}
.x_bank_left {
    float: left;
    width: 660px;
}
.x_bankCard_list {
    border: 1px solid #dbdbdb;
    border-top: 2px solid #b01330;
    margin-bottom: 20px;
}
.x_bankCard_list_item {
    margin: 10px 0;
}
.x_bankCard_list_item:after {
    content: "";
    display: block;
    clear: both;
}
.x_lCard {
    float: left;
    width: 400px;
    border-right: 1px dashed #ddd;
}
.x_rCard {
    float: right;
    width: 250px;
}
.x_lCard:after {
    content: "";
    display: block;
    clear: both;
}
.x_lCard div {
    float: left;
}
.x_lCard_left {
    padding: 10px 20px;
}
.x_lCard_right h1 {
    padding: 10px 0 7px;
}
.x_lCard_right h1 a {
    display: block;
    width: 210px;
    font-size: 16px;
    line-height: 1.5;
    color: #b01330;
}
.x_lCard_right p {
    width: 210px;
    font-size: 12px;
    color: #000;
    padding: 0 0 8px 5px;
    background: url(/img/4.0/credit/cr1.jpg) left 7px no-repeat;
}
.x_rCard p {
    width: 245px;
    font-size: 12px;
    padding-top: 5px;
    line-height: 1;
}
.x_rCard p label {
    display: inline-block;
    width: 100px;
    text-align: right;
    color: #999;
    padding: 5px 20px 5px 5px;
}
.x_overflow_hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.x_card_comment {
    border-top: 1px solid #dbdbdb;
}
.x_nfriend {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 1.5;
    border-right: 1px solid #dbdbdb;
}
.x_comm {
    display: inline-block;
    width: 465px;
    color: #b01330;
    font-size: 14px;
    line-height: 1.5;
    vertical-align: middle;
}
.x_more_comm {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    border-left: 1px solid #dbdbdb;
}
.x_card_comment span a {
    color: #999;
}