body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
small{ font-size:12px; }
ul, ol { list-style:none;}
a { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; outline: none; }
table { border-collapse:collapse; border-spacing:0; }

.box {
    width: 990px;
    margin: auto;
}
.shopCar_top {
    overflow: hidden;
}
.header_logo {
    float: left;
    width: 404px;
    height: 95px;
}
.header_right {
    float: right;
    margin-top: 35px;
    margin-right: 40px;
    border-top: 1px solid #eee;
}
.header_logo a {
    display: inline-block;
    margin-top: 8px;
}
.header_logo a:first-child {
    margin: 8px 0 12px 45px;
}
.header_right li {
    float: left;
    width: 156px;
    position: relative;
    color: #999;
    text-align: left;
    margin-top: 5px;
}
.header_right ul li:last-child {
    width: 0;
}
.header_right i {
    position: absolute;
    display: inline-block;
    margin-left: -4px;
    border-radius: 50%;
    z-index: 2;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.header_right span {
    position: absolute;
    display: inline-block;
    width: 156px;
    left: -78px;
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}
.changeColor>i {
    width: 16px;
    height: 16px;
    background: #cc5252;
    margin-top: -13px;
    border: none;
}
.changeColor>span {
    color: #cc5252;
}
.shopNull {
    padding: 110px 0 265px;
    text-align: center;
}
.shopNull>i {
    display: block;
    background-image: url('Limages/icon.png');
    background-position: 0 -112px;
    background-size: 589px;
    width: 82px;
    height: 84px;
    margin: 0 auto 21px;
}
.shopNull .p1 {
    font-size: 18px;
    color: #666;
    line-height: 25px;
}
.shopNull .p2 {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    margin-top: 5px;
}
.shopNull .p2>a {
    font-size: 12px;
    color: #cc5252;
    text-decoration: underline;
}
.shopNull>div {
    margin-top: 47px;
}
.shopNull>div .a1 {
    background: #cc5252;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #cc5252;
    border-radius: 100px;
    margin: 0 9px;
    font-size: 14px;
}
.shopNull>div .a2 {
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #cc5252;
    border-radius: 100px;
    margin: 0 9px;
    font-size: 14px;
    color: #cc5252;
}
.shopAll {
    margin-top: 40px;
}
.shopAll>h2 {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.checkAll {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: #f5f5f5;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
}
.checkAll i, .shopName>i, .shopCar_content li>i {
    float: left;
    margin: 11px 19px;
    background-image: url('Limages/icon.png');
    background-position: -576px -255px;
    background-size: 589px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.checkAll>span {
    float: left;
    width: 90px;
    margin-right: 20px;
}
.checkAll>ul {
    float: right;
}
.checkAll>ul li {
    display: inline-block;
    width: 120px;
    margin-left: 24px;
    text-align: center;
}
.shop_num {
    font-size: 12px;
}
.shopCar_content {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.shopName {
    height: 44px;
    line-height: 44px;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
.shopName>i {
    margin-top: 16px;
}
.shopName>span {
    color: #666;
    font-size: 12px;
    font-weight: 700;
}
.shopCar_content li {
    height: 105px;
    padding-top: 15px;
    overflow: hidden;
}
.shopCar_content li>i {
    margin-top: 40px;
}
.content, .shopCar_content li>img  {
    float: left;
}
.shopCar_content li>img {
    width: 90px;
    height: 90px;
    background: url('https://image8.wbiao.co/shop/c7fe11add1b24475b1d582b053687469.jpg?x-oss-process=image/resize,w_90,h_90') center no-repeat;
    background-size: contain;
}
.content {
    margin-top: 5px;
    margin-left: 20px;
}
.content p {
    width: 250px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control {
    float: right;
    font-size: 12px;
    margin-top: 6px;
}
.control>span, .control div, .control a {
    float: left;
    width: 120px;
    color: #666;
    text-align: center;
    margin-left: 24px;
}
.control div {
    margin-left: 44px;
    margin-right: 24px;
    width: 76px;
    height: 18px;
    line-height: 17px;
    color: #333;
    text-align: center;
}
.control div>button {
    float: left;
    width: 16px;
    height: 18px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    background-color: #fff;
    border: 1px solid #ddd;
    outline: none;
}
.control div>input {
    border: 1px solid #ddd;
    border-left: none; 
    border-right: none;
    width: 42px;
    height: 16px;
    float: left;
    text-align: center;
    outline: none;
}
.shopCar_content li>a {
    width: 120px;
    float: right;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
}
.checkOn {
    background-position: -576px -233px !important;
}